.tetris-banner {
  margin-top: 4rem;
  width: 100%;

  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}

.tetris-container {
  width: 220px;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  background: #222;
}

.cell {
  width: 20px;
  height: 20px;
  background: #000;
  border: 1px solid #333;
}

.controls button {
  margin: 5px;
  padding: 5px 10px;
}